html {
  scroll-behavior: smooth;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    
  }
 #background {
    position: relative;
    background-image:url("images/Hufflepuff-2.png");
    background-attachment:fixed;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    opacity: 1;
  }

  .slider {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .profile{
    margin-top: 100px;
    vertical-align: middle;
     width: auto;
     height: auto;
     max-width:500px;
     max-height:205px;
     border-radius: 50%;

  
  }

  /* Header */
  header{
    position: relative;
    top:0%;
    left: 0%;
    width:100%;
    
    margin: 0;
    padding: 0;
  }

  /* Header content & title & button*/
  .header-content{
    
    text-align: center;
    color:  rgb(255, 255, 255);
    padding:100px;
    margin-top: 10px;
   
  }

  .header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
    margin: auto;
  }
  .header-content p {
    font-size: 20px;
    line-height: 1;
    margin: auto;
  }
  
  .header-content button:hover{
    border-radius: 0;
  }


  /* navbar */
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
   
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  
  }
  nav ul li:hover a{
    text-decoration: none;
    color: rgb(255, 255, 255);;
  }

  
  
/* cards */

  .column {
    float: left;
    margin: 10px;
    
 
   
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 15px;
    text-align: center;
    background-color: white;
     border-radius: 10px; /* 5px rounded corners */
     margin-left: 50px;
    float:left;
    width: 250px;
    height: 300px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
      
      margin-bottom: 20px;

    }
  }

  .Projects{
    padding-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    
  }
  .container-fluid{
    background-color: rgb(255, 255, 255);

  
    margin:20px;
    

  }


 /* Style skills */
.logo{
      margin: 10px 45px;
      }

footer{
  text-align: center;
  color: white;
}

/* Style About Me */

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 1000px;
  
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#about-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: white;

}
.modal-body {
  padding: 25px 55px;
  color: black;
  
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  
}
